*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(22skolar.jpg);
    height: 150vh;
    background-size: cover;
    background-position: center;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 20px;

}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;;
    transition: 0.6s;
}

ul li a:hover{
    background-color: #fff;
    color: black;
}

ul li.active a{
    background-color: #fff;
    color: black;
}

ul li ul.dropdown li{
    display: block;
}

ul li ul.dropdown{
    width: 100%;
    background: transparent;
    position: absolute;
    z-index:999;
    display: none;
}

ul li:hover ul.dropdown{
    display: block;
}

.logo img{
    float: left;
    width: 150px;
    height: auto;
    margin-top: 10px;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.row a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid;
    transition: 0.6s;
}

.row a:hover{
    background-color: #fff;
    color: black;
}

.title{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
    color:#fff;
}

.text-box{
    color:#fff;
    position: absolute;
    bottom:8%;
    float:left;
    margin-left:100px;
}

.text-box p{
    font-size: 50px;
    font-weight: 600;
}

.text-box h1{
    font-size:190px;
    line-height: 160px;
    margin-left: -10px;
    color:transparent;
    -webkit-text-stroke: 1px white;
    background:url(bgi.jpg);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}

.text-box h3{
    font-size: 50px;
    font-weight: 500;
}

.text-box .row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.text-box a{
    color:#fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid white;
    display:flex;
    align-items:center;
}

